/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
} */

/* .container{
    max-width: 1440px;
    height: 600px;
    border: 8px solid red;
    margin: 100px auto;
    display: grid;
    grid-auto-rows: 100px;
     grid-auto-flow:rows; 
     /*column-gap: 10px;
    /*row-gap: 10px 
    /*auto-fill, auto-fit 
    grid-template-columns: repeat(3, 150px);
    gap: 10px;
     /*grid-auto-flow: dense; 
     /*justify-items: center;
    /*align-items: center; 
    /* place-items: end start; 
    /* justify-content: space-between;
    /*align-content: space-between; 
    /* place-content: center space-between; 

} */

/* grid container */
/* grid items */

 /* .item{
    background: #487eb0;
    color: #fff;
    padding:10px;
    border: 2px solid black;
} */

/* .item1{
     /* grid-column-start: 1;
    grid-column-end: 3; 
    grid-column: 1/-1;
     grid-row-start: 1;
    grid-row-end: 3; 
    grid-row: 1/4; */
    /* align-self: start;
    justify-self: center; */
    /* place-self: center end; 
} */

/*.item8{
    grid-column: 1/-1;
} */